_site
.sass-cache
.jekyll-metadata
*.DS_Store
Gemfile.lock
README_template.md
.git
.gitignore
brief_introduction.ignore
styleguide.md
_posts/2023-04-20-a-tool-that-i-should-use-to-keep-motivate-and-learn-english-everyday.markdown
