_site
.sass-cache
.jekyll-metadata
*.DS_Store
Gemfile.lock
README_template.md
.git
.gitignore
brief_introduction.ignore
styleguide.md
.jekyll-cache
plugins_ignore
_posts/要不要旅居呢？
_posts/.how-to-wtite-a-new-blog.md
.layout.change
.mailchimp.form
.error_math.githubpages.actions.ignore
.error_minutes_left.githubpages.actions.ignore
