@use "../0-settings/variables";
@use "../1-tools/grid";

.post-title-box {
  padding: 80px 0;
  border-top: 1px solid variables.$light-gray;

  .post-title {
    margin-bottom: 10px;
    // width: 500px;
    //remove 1 line above since no need to start a new line at this point. 20230427
    max-width: 100%;
    font-size: 57px;
    line-height: 70px;
  }

  .post__date {
    font-weight: 700;
  }

  @media only screen and (max-width: grid.$mobile) {
    padding: 40px 0;

    .post-title {
      margin: 10px 0;
      font-size: 47px;
      line-height: 53px;
    }
  }
}

.post__info {
  display: flex;
  align-items: center;

  .post__author {
    margin-right: 10px;
    font-weight: 700;

    .author-name {
      color: variables.$gray;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid variables.$gray;
      }
    }
  }

  .post__tags {
   .post__tags-tag {
     position: relative;
     padding-left: 15px;
     font-weight: 700;
     &:before {
       content: "";
       position: absolute;
       top: 50%;
       left: 0;
       transform: translateY(-50%);
       width: 5px;
       height: 5px;
       border-radius: 50%;
       background: variables.$dark;
     }
   }
  }
}

.post-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: variables.$light-gray;
  &:after {
    content: "";
    display: table;
    width: 100%;
    min-height: 300px;
    padding-top: 50%;
  }
}

.post {
  //margin: 0 auto 5em; 
  //change it to 0 auto 5em; from 80px auto;
  //delete 10/10/2024.

  &.post-no-image {
    margin: 0 auto 80px;
  }

  @media only screen and (max-width: grid.$mobile) {
    margin: 40px auto;

    &.post-no-image {
      margin: 0 auto 40px;
    }
  }

  img {
    margin: 30px 0;
  }
}

.post__content {
  margin-bottom: 40px;
}

.post__share {
  display: flex;

  .share__title {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .share__list {
    .share__item {
      display: inline-block;
      margin: 0 10px;

      a {
        font-size: 18px;
        color: variables.$gray;
        &:hover {
          color: variables.$dark;
        }
      }
    }
  }
}

.post__navigation {
  display: flex;
  // align-items: baseline;
  // remove 1 line above to use the highest height for all navigation
  margin-bottom: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid variables.$light-gray;
  justify-content: center;
  //add 1 line above to center the navigation. 20230425
  gap: 1em;
  //add 1 line above to use gap for the navigation. 20230425

  .prev,
  .next {
    flex: 1 0 50%;
    //remove 1 line above so that it won't display 100% images when only 1 of prev,next is available. 20230425
    border-radius: 5px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .5s ease;
    //add 3 lines above to distinct the navigation from the background. 20230425
    display: flex;
    flex-direction: column;
    //add 3 lines above to better style the navigation. 20230425
    text-align: center;
    //add 1line above to center the text;

    a {
      // display: inline-block;
      // max-width: 250px;
      // padding: 0 10px;
      // vertical-align: middle;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      text-align: center;
      //add 1 line above to center the words of the whole block. 20230426
      color: variables.$dark;
      &:hover {
        color: variables.$black;
      }
      // padding: 0 1em;
      //remove 1em padding for a; since 1 include the whole block now. 20230426
    }
    //add(copied before) style for anchor inside prev, next 20230425

    &:last-child {
      padding-right: 0;
    }

    .post__nav__image {
      display: block;
      // margin-bottom: 40px;
      // remove 1 line above to make the whole area clickable. 20230425
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: variables.$light-gray;
      transition: .35s ease-in-out;
      &:hover {
        opacity: 0.9;
      }
      &:after {
        content: "";
        display: table;
        width: 100%;
        padding-bottom: 35%;
        //update 1 line above from 65% to 35% to display a smaller thumbnail. 20230425
      }
    }

    .post__nav__title {

      margin: 0.5em 2em;
      //change 1 line above from margin-bottom: 20px; to 0.5em 2em;. 20230426
      font-size: 1.25em;
      line-height: 1.85em;
      //update 1 line above from 37px to 1.85em; 20230425
      text-transform: uppercase;
      letter-spacing: 2px;
      // text-align: center;
      // remove 1 line above since it won't work; 20230426

      /*
      a {
        display: inline-block;
        max-width: 250px;
        padding: 0 10px;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $dark;
        &:hover {
          color: $black;
        }
      }
      */
      //remove anchor style inside of .post__nav__title, because it changed its position. 20230425

    }
  }

  /*
  .prev {
    padding-right: 10px;
  }

  .next {
    padding-left: 10px;
  }
  */
  //remove above .prev and .next to use gap instead. 20230425

  .prev__excerpt,
  .next__excerpt {
    // width: 100%;
    //remove 1 line above, to add left,right margin but not overflow. 20230426
    // max-width: 400px;
    //remove 1 line above, to display more text when available. 20230426
    margin: 0 2em 1em;
    //update 1 line above from margin: 0 auto; to margin: 0 2em 1em; 20230426
    // text-align: center;
    // remove 1 line above, to use left alignment for the excerpt. 20230425
    text-align: left;
    //add 1 line above, to make the excerpt left. 20230426
  }

  @media only screen and (max-width: grid.$tablet) {
    flex-wrap: wrap;

    .prev,
    .next {
      flex: 1 0 100%;
      padding: 0;
    }

    .next {
      margin-top: 40px;
    }
  }

  @media only screen and (max-width: grid.$mobile) {
    margin-bottom: 40px;
    padding-bottom: 40px;
    .prev,
    .next {
      .post__nav__image {
        // margin-bottom: 20px;
        padding-bottom: 20px;
        //remove 1 line above to make the whole area clickable
      }
    }
  }
}

.comments {
  margin-bottom: 80px;

  #idc-container {
    margin: 1.5em auto;
  }

  @media only screen and (max-width: grid.$mobile) {
    margin-bottom: 40px;
  }
}


// Add post tableofcontents. 20241010

.container--has-sidebar {
  margin: 0 auto 5em;
}

.sidebar {
  margin-bottom: 1.25em;
  @media screen and (min-width: 768px) {
    width: 240px;
  }
  @media screen and (min-width: 1000px) {
    width: 300px;
  }
}
/*
*/

.sidebar__inner {
    top: 50px;
    @media screen and (min-width: 768px) {
      position: sticky;
      margin-bottom: 80px;
    }
}

.sidebar__header {
    background-color: #e8eaf3;
    border: 1px solid #e8eaf3;
}

.sidebar__header {
    padding: 10px 20px;
}

.sidebar__heading {
    font-size: 1.11765em;
    font-weight: 900;
    margin: 0;
}

.scroll-nav {
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  padding: 15px 10px;
  top: 10px;
  width: 100%;
  
  @media screen and (min-width: 700px) {
    // float: left;
    // width: 200px;
    
    // top: 60px;
  }
  
  @media screen and (min-width: 1000px) {
    //width: 300px;
  }
}

.scroll-nav__list, .scroll-nav__sub-list {
  margin: 0;
  padding-left: 1.4em;
  list-style-type: none;
  line-height: 20px;
}

.scroll-nav__item {
  margin-bottom: 5px;
  list-style-type: none;
}

.scroll-nav__item--active > a {
  //padding: 5px;
  font-weight: bold;
  position: relative;
  //color: $dark;
  //background: $red;
  text-decoration: none;
  //transition: 0.5s;
  &:hover{
      color:variables.$dark
  }
}

.scroll-nav__link {
  //color: $dark;
  text-decoration: none;
  //display: block;
  //margin: 0 auto;
  //padding-left: 42px;
}

scroll-nav__sub-link {
  //color: $dark;  
}

//end of tableofcontents. 20241010

.post__nav__card {
  background-blend-mode: multiply;
  background-color: #00505e;
  // background: linear-gradient(135deg,rgba(0,40,60,.8),rgba(0,20,40,.7));
  background-image: url(../../../../images/me.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #f2f2f2;
  justify-content: center;
  padding: 1.5em 0;

      ul {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
      }

      li {
        list-style: none;
        border-bottom: 1px solid hsla(0,0%,100%,.3);
        padding: 0 1em;
      }

      li:last-child {
        margin-bottom: 1em;
      }

      a {
        color: #cac8c8 !important;
        line-height: 3;
        &:hover {
          color: #fff !important;
        }
      }

      .link__to__home {
        font-size: 0.9em;
      }
}
//add above post__nav__card class. 20230426

 .post__general__navigation {

    position: relative;
    text-align: center;

   &::before,
   &::after {
     content: "";
     display: block;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     height: 1px;
     width: calc(50% - 90px);
     background: #3c3c3c;
   }

   &::before {
     right: 0;
   }
   &::after {
     left: 0;
   }
 }

.container__article__navigation {
  max-width: 1080px;
}
//add above container__article__navigation class. 20230426

// add video bilibili style. 20241116

.video_frame, .bilibili{
  max-width: 100%;
  width: 500px;
  height: 300px;
}

// end of video bilibili style.

