<div class="prev post__nav__card">
   <h2 class="post__nav__title post__general__navigation">向西笔记</h2>
   <ul>
     <li><a href="{{ site.baseurl }}/tag/product">让生活变美好的商品</a></li>
     <li><a href="{{ site.baseurl }}/tag/tools">让你变幸福的工具</a></li>
     <li><a href="{{ site.baseurl }}/tag/interview">让你通过面试的技巧</a></li>
     <!-- <li><a href="{{ site.baseurl }}/tag/job">让你从工作中获得更多</a></li> -->
     <!-- <li><a href="{{ site.baseurl }}/tag/books">改变你一生的书单</a></li> -->
     <!-- <li><a href="{{ site.baseurl }}/tag/journey">帮你做旅游攻略</a></li> -->
     <li><a href="{{ site.baseurl }}/tag/sojourn">当你旅居时</a></li>
   </ul>
