@use "../0-settings/variables";

.contact {
  .contact__list {
    li {
      margin-left: 15px;
      display: inline-block;

      a {
        font-size: 18px;
        color: variables.$gray;
        &:hover {
          color: variables.$dark;
        }
      }
    }
  }
}