// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 1.25em;

// Border radius
$global-radius: 3px;

// Transition
$global-transition: all .35s;


// *****************
// Color Variables
// *****************
$brand-color: #0097b2;
// updated to #0097b2 from #f6b141. 20230427
$dark: #393e46;
$gray: #bbbbbb;
$light-gray: #e6eef0;
$white: #ffffff;
$black: #000000;

// Background Colors
$background-color: $white;

// Body Color
$text-color: $dark;

// Headings
$heading-font-color: $dark;

// Links
$link-color: $brand-color;
$link-color-hover: darken($dark, 15%);

// Button
$button-color: $white;
$button-background-color: $brand-color;

// Border
$border-color: $light-gray;


// *****************
// Typography
// *****************
$base-font-size: 1.125em;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 1.625em;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;

$font-size-h1:  2.25em;
$font-size-h2:  1.95em;
$font-size-h3:  1.75em;
$font-size-h4:  1.5em;
$font-size-h5:  1.25em;
$font-size-h6:  1.125em;
$font-size-p:   1.125em;

$heading-line-height: 1.2;
