<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.data.settings.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}
  {% include microsoft-clarity.html %}

  {% include header.html %}

  <!-- 网页内容区域创建一个div，用于给 Translate 自动加载使用，id 名称不可随意 -->
  <!-- <div id="google_translate_element"></div> -->
  
  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  <div class="top ion ion-ios-arrow-up" title="Top"></div>

  {% include search.html %}

  {% include footer.html %}

  {% include javascripts.html %}
</body>

</html>