---
layout: default
---

<div class="container">
  <div class="post-title-box">
    <div class="row">
      <div class="col col-10 col-11 push-t-1 col-m-12 push-m-0">
      <!-- before adding a toc: <div class="col col-10 push-2 col-11 push-t-1 col-m-12 push-m-0"> -->
      <!-- remove push-2 above, since after removing, it looks better -->
        <span class="post__date">
          <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ page.date | date: date_format }}</time>
        </span>

        <h1 class="post-title">{{ page.title | escape }}</h1>

        <div class="post__info">
          <div class="post__author">
            <span>By</span>
            <a href="{{ site.baseurl }}/about/" class="author-name">{{site.data.settings.author.name}}</a>
          </div>

          {% if page.tags.size >= 1 %}
          <div class="post__tags">
            {% for tag in page.tags %}
              <a href="{{ site.baseurl }}/tag/{{ tag | downcase | replace: " ", "-" }}" class="post__tags-tag">{{ tag | upcase | replace: "-", " " }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- {% assign no-image = nil %}
  {% if page.image %}
    <div class="post__head">
      <div class="post-image" style="background-image: url({{site.baseurl}}/images/{{page.image}})"></div>
    </div>
  {% else %}
    {% assign no-image = 'post-no-image' %}
  {% endif %} -->
  <!-- remove post image above, because no need to show it. -->
 </div>

  <div class="container container--has-sidebar">
  <div class="row">
    <!-- begin sidebar -->
    <div class="sidebar col col-8 col-t-10 col-m-12">
      <div class="sidebar__inner">
        <header class="sidebar__header">
          <h2 class="sidebar__heading">文章目录</h2>
        </header>
        <nav class="toc">
        </nav>
      </div>
    </div>

    <!-- begin post -->
    <article class="post {{ no-image }} col col-8 col-t-10 col-m-12">

      <div class="post__content">
        {{ content }}

        版权声明©️：文章版权归作者本人所有。为个人学习、研究、欣赏目的可以对本文进行有限度的使用，但必须注明<a href="https://xiangxi.work{{ page.url }}?utm_source=quote">本文链接地址</a>。
        
        {% include donation.html %}
      </div>

      {% include share-post.html %}
    </article>
    <!-- end post -->
    </div>
  </div>

  <div class="container container__article__navigation">
  <div class="post__navigation">
    {% if page.previous.url %}
    <div class="prev">
      <!-- <a class="post__nav__image" href="{{ site.baseurl }}{{page.previous.url}}" style="background-image: url({{site.baseurl}}/images/{{page.previous.image}})"></a> -->
      <a href="{{ site.baseurl }}{{page.previous.url}}">
        <div class="post__nav__image" style="background-image: url({{site.baseurl}}/images/{{page.previous.image}})"></div>
        <h2 class="post__nav__title">
          <i class="ion ion-md-arrow-back"></i>
          {{page.previous.title}}
        </h2>
        <p class="prev__excerpt">
          {% if page.previous.description %}
            {{ page.previous.description }}
            {% else %}
            {{ page.previous.content | strip_html | truncate: 70 }}
            {% endif %}
        </p>
      </a>
    </div>
      {% else %}
      {% include card.html %}
      <a href="/">
      <i class="ion ion-md-arrow-back"></i>
      查看所有文章
      </a>
   </div>
      <!-- add above else block to display some general blogs -->
    {% endif %}

    {% if page.next.url %}
    <div class="next">
      <!-- <a class="post__nav__image" href="{{ site.baseurl }}{{page.next.url}}" style="background-image: url({{site.baseurl}}/images/{{page.next.image}})">
      </a> -->
      <a href="{{ site.baseurl }}{{page.next.url}}">
        <div class="post__nav__image" style="background-image: url({{site.baseurl}}/images/{{page.next.image}})">
        </div>
        <h2 class="post__nav__title">
          <!-- <a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a> -->
          {{ page.next.title }}
          <i class="ion ion-md-arrow-forward"></i>
        </h2>
        <p class="next__excerpt">
          {% if page.next.description %}
            {{ page.next.description }}
          {% else %}
            {{ page.next.content | strip_html | truncate: 70 }}
          {% endif %}
        </p>
      </a>
    </div>
      {% else %}
      {% include card.html %}
      <a class="link__to__home" href="/">
      查看所有文章
      <i class="ion ion-md-arrow-forward"></i>
      </a>
    </div>
      <!-- add above else block to display some general blogs -->
    {% endif %}
  </div>

  <!-- {% if site.data.settings.disqus-identifier %}
    {% include disqus-comments.html %}
  {% endif %} -->
  <!-- remove disqus comment area since it won't fit for CN users 20230429 -->
  {% if site.data.settings.intensedebate-identifier %}
    {% include intensedebate-comments.html %}
  {% endif %}
  </div>
  <!-- Add intensedebate comment area since it will fit for CN users as well. 20230429 -->